@tailwind base;
@tailwind components;
@tailwind utilities;

code
{
    @apply border-slate-300 p-2
}

.language-plaintext {
    @apply bg-white opacity-75 block border border-gray-200 p-2 overflow-auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;

}



.mcheckbox:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: white;
}


ul, li{
    list-style-type: disc;
    margin-left: .5em;
    padding-left: .5em;


  }

  code{
      display: block;
      border-color: white;
      background: rgb(235, 235, 235);
      padding: .8em;
      margin: 1em;
  }

  h1{
      font-size: xx-large;
  }

  h2{
      font-size: x-large;
  }

  h3{
      font-size: large;
  }

  h4{
      font-size: medium;

  }


  .transition-all {
    transition: all 0.3s ease;
}
